body{
    background-color: aquamarine;
}

#carouselExampleControls{
    position: relative;
    height: 100%;
    width: 100%;
}

#content{
    color: whitesmoke;
    font-family: 'Bungee Inline', cursive;
    text-indent: 10px;
    position: absolute;
    padding: 20%;
    z-index: 9;
}

@media (min-width: 400px) {
    #content h1::before{
        content: "Welcome to Azuraz interests page!";    
    }
}
@media (max-width: 399px) {
    #content h1::before{
        content: "Welcome to my page!";    
    }
    #content p{
        display: none;
    }
}